.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

:root {
  --color-text-primary-1: hsl(238, 29%, 16%);
  --color-text-primary-2: hsl(14, 88%, 65%);
  --bg-gradient-primary-1: hsl(273, 75%, 66%);
  --bg-gradient-primary-2: hsl(240, 73%, 65%);
  --color-text-neutral-1: hsl(237, 12%, 33%);
  --color-text-neutral-2: hsl(240, 6%, 50%);
  --color-divider: hsl(240, 5%, 91%);

  font-size: 12px;
  font-family: 'Kumbh Sans', sans-serif;
}

html,
body {
  margin: 0;
}

.faq-card {
  display: flex;
  background-color: white;
  border-radius: 10px;
}

.question {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.question img {
  justify-self: end;
}

.answer {
  display: none;
}

.question-item {
  display: flex;
  flex-direction: column;
}

.content>*:not(:nth-child(1)) {
  border-bottom: 1px solid var(--color-divider);
}

.question p,
.question button {
  background: none;
  border: none;
  cursor: pointer;
}

.question p:hover {
  color: var(--color-text-primary-2);
}

.question-item[data-active="active"] .question p {
  font-weight: 700;
  color: var(--color-text-primary-1);
}

.question-item[data-active="active"] .answer {
  color: var(--color-text-primary-1);
  display: block;
}

.question-item[data-active="active"] .button-arrow img {
  transform: rotate(180deg);
}

.content h1 {
  font-size: 2em;
}

@media only screen and (min-width: 1200px) {

  html,
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    gap: 10px;
    background: linear-gradient(var(--bg-gradient-primary-1), var(--bg-gradient-primary-2));
  }

  .faq-card {
    align-items: center;
    width: 1000px;
    position: relative;
    box-sizing: border-box;
  }

  .illustration-box {
    position: absolute;
    top: 100px;
    bottom: 0;
    left: -100px;
    width: 200px;
    height: auto;
    margin: auto 0;
    z-index: 10;
  }

  .illustration img:nth-child(1) {
    margin-left: -80px;
  }

  .illustration {
    overflow: hidden;
    flex: 1;
    background: white url('images/bg-pattern-desktop.svg') no-repeat 125% 65%;
    padding: 75px 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-sizing: border-box;
  }

  .content {
    flex: 1;
    align-self: flex-start;
    padding-top: 60px;
  }

  .content>* {
    width: 80%;
  }
}

@media only screen and (max-width: 1200px) {

  html,
  body {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background: linear-gradient(var(--bg-gradient-primary-1), var(--bg-gradient-primary-2));
    background-attachment: fixed;
  }

  main {
    margin-top: 50px;
  }

  .faq-card {
    align-items: center;
    width: 300px;
    position: relative;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
  }

  .content h1 {
    text-align: center;
  }

  .illustration-box {
    display: none;
  }

  .illustration img:nth-child(1) {
    height: 150px;
    margin-top: -90px;
  }

  .illustration {
    flex: 1;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-sizing: border-box;
    background: white url('images/bg-pattern-mobile.svg') no-repeat;
    background-size: 100%;
    padding-bottom: 30px;
  }

  .content {
    flex: 1;
    align-self: flex-start;
    width: 100%;

    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    padding-bottom: 50px;
  }
}